contourpy
cycler
fonttools
kiwisolver
matplotlib==3.10.3
munkres
numpy==2.2.6
opencv-python
opencv-python-headless
packaging
pillow
pynput
pyparsing
PyQt6
PyQt6-Qt6
PyQt6_sip
PySide6
python-dateutil
python-dotenv
pywin32
shiboken6
six
tornado
unicodedata2
windows-capture
